html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
