html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@font-face {
  font-family: aceh;
  src: url("/fonts/Aceh.ttf");
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: aceh;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

html,
body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
  &:hover {
    text-decoration: none;
    color: currentColor;
  }
}
img {
  display: block;
  max-width: 100%;
}
