@mixin flex(
  $wrap: nowrap,
  $dir: row,
  $align: flex-start,
  $justify: flex-start
) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}
.wrapper {
  .container {
    max-width: 1440px;
    width: 1440px;
    padding: 0;
    @include flex();
    overflow: hidden;
  }
}

.login {
  width: 57rem;
  background-color: transparent;
  height: 100%;
  z-index: 50;
  .container {
    max-width: 36rem;
    @include flex(nowrap, column);
  }
  &__logo:hover {
    text-decoration: none;
    color: black;
  }
  &__logo {
    @include flex(nowrap, row, center, center);
    margin-top: 7rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    &-text {
      width: fit-content;
      margin-bottom: 0;
    }
  }
  &__detail {
    margin-top: 10rem;
    h1 {
      font-weight: bold;
      margin-bottom: 4rem;
    }
    h3 {
      font-size: 1.2rem;
      color: #656b7c;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1rem;
      font-weight: bold;
      color: #aeb8c3;
    }
  }
  &__form {
    width: 100%;
    margin-top: 7rem;
    font-size: 1.2rem;
    font-weight: 780;
    form {
      width: 100%;
      button {
        width: 100%;
        border-radius: 3rem;
        padding: 1.5rem;
        font-size: 1.2rem;
        font-weight: 800;
      }
    }
    &-group {
      padding-bottom: 2rem;
      input {
        border-radius: 3rem;
        padding: 2rem;
        font-size: 1.2rem;
      }
    }
    &-option {
      @include flex(nowrap, row, center, space-between);
      margin-bottom: 3rem;
      &_check {
        label {
          margin-left: 1rem;
          font-size: 1.2;
          font-weight: 780;
        }
      }
      a {
        font-size: 1.2rem;
        font-weight: 780;
      }
    }
  }
  &__create_account {
    margin-top: 11rem;
    @include flex();
    width: 100%;
    font-size: 1.2rem;
    font-weight: 780;
    p {
      color: #aeb8c3;
    }
    a {
      margin-left: 0.5rem;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    background-color: white;
    opacity: 0.9;
    z-index: -1;
  }
}

.slideShow {
  height: 100%;
  position: absolute;
  z-index: 10;
  &__list {
    @include flex();
    height: 100%;
    width: 432rem;
    animation: 1s slide1 forwards;
    &-item {
      width: 144rem;
      height: 100%;
      position: relative;
      &-image {
        width: 144rem;
        height: 100%;
        position: absolute;
        z-index: -12;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-text {
        width: 87rem;
        height: 100%;
        margin-left: 57rem;
        @include flex(nowrap, column, center, flex-start);
        line-height: 1.5;
        color: white;

        h2 {
          margin-top: 64rem;
          font-size: 3rem;
          font-weight: 750;
        }
        p {
          margin-top: 3rem;
          font-size: 1.2rem;
          font-weight: 650;
        }
      }
    }
    &-navigation {
      position: absolute;
      top: 80rem;
      width: 87rem;
      height: 0.8rem;
      left: 57rem;
      color: white;
      @include flex(nowrap, row, center, center);
      .dot {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background-color: currentColor;
        margin: 0 0.25rem 0 0.25rem;
        cursor: pointer;
      }
      .panel {
        height: 0.8rem;
        width: 2rem;
        position: absolute;
        background-color: currentColor;
        border-radius: 0.4rem;
        animation: 1s panel1 forwards;
      }
    }
  }
}
@keyframes slide1 {
  to {
    transform: translate(0, 0);
  }
}
@keyframes slide2 {
  to {
    transform: translate(-144rem, 0);
  }
}
@keyframes slide3 {
  to {
    transform: translate(-288rem, 0);
  }
}

@keyframes panel1 {
  to {
    transform: translate(-1.2rem, 0);
  }
}
@keyframes panel2 {
  to {
    transform: translate(0, 0);
  }
}
@keyframes panel3 {
  to {
    transform: translate(1.2rem, 0);
  }
}
