$gray: #83909d;
.btnc {
  padding: 0.5rem 3rem 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &--rounded {
    border: 1px solid currentColor;
    border-radius: 1rem;
  }
}

.card {
  &ctn {
    padding: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px rgba(171, 179, 187, 1);
  }
  &__image {
    transform: translate(-2rem, -2rem);
    width: calc(100% + 4rem);
    height: 15rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    z-index: 1;
    transform: translateY(-15rem);
    color: white;
  }
  &__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-3rem);
    &-info {
      &-price {
        font-size: 1.8rem;
        font-weight: 800;
        color: #f46573;
      }
      &-id {
        font-size: 1.8rem;
        font-weight: 800;
      }
      &-location {
        font-size: 1.5rem;
        font-weight: 800;
        color: $gray;
      }
    }
    &-logo {
      font-size: 2rem;
      display: flex;
      width: 4rem;
      height: 4rem;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 4px 1px rgba(171, 179, 187, 1);
      border-radius: 50%;
      color: #0726e9;
    }
  }
}

.navbar {
  padding: 0;
  margin: auto;
  margin-top: 2.5rem;
  max-width: 122rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 3rem;
    font-weight: 800;
  }
  &__menu {
    margin-right: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    &-item {
      margin-right: 5rem;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
.banner {
  margin: auto;
  margin-top: 2.5rem;
  max-width: 122rem;
  &__slide {
    height: 55rem;
    color: white;
    position: relative;
    * {
      z-index: 5;
    }
    &-image {
      z-index: -2;
      border-radius: 2rem;
      overflow: hidden;
      position: relative;
      img {
        height: 55rem;
        width: 100%;
      }
    }
    .cover {
      width: 50%;
      z-index: -1;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(44, 62, 80, 1) 30%,
        rgba(52, 73, 94, 0.5) 80%,
        rgba(44, 62, 80, 0) 100%
      );
      position: relative;
      transform: translateY(-55rem);
      border-radius: 2rem;
    }
    &-title {
      font-size: 6rem;
      max-width: 43rem;
      position: absolute;
      transform: translate(9.5rem, 10rem);
    }
    &-desc {
      font-size: 2rem;
      max-width: 50rem;
      position: absolute;
      transform: translate(9.5rem, 28rem);
    }
    &-link {
      position: absolute;
      transform: translate(9.5rem, 36rem);
      font-size: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        width: 6rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #b6d8d5;
        margin-right: 2rem;
      }
      span {
        color: #2ecc71;
      }
    }
  }
  &__feature {
    display: flex;
    position: relative;
    transform: translateY(-10rem);
    max-width: 90%;
    margin: auto;
    border-radius: 1rem;
    padding: 5rem;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0px 0px 4px 1px rgba(171, 179, 187, 1);
    box-shadow: 0px 61px 162px -69px rgba(0, 0, 0, 0.75);

    &-facilities {
      width: 32rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
        a {
          color: #dc8437;
          font-size: 1.2rem;
        }
      }
      &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          font-weight: 800;
          i {
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 4px 1px #edeef3;
            margin-bottom: 1.2rem;
            border-radius: 1rem;
          }
          &:first-child {
            i {
              color: #90d4eb;
            }
          }
          &:nth-child(2) {
            i {
              color: #c28383;
            }
          }
          &:nth-child(3) {
            i {
              color: #a9e0be;
            }
          }
          &:last-child {
            i {
              color: #e3a180;
            }
          }
        }
      }
    }
    &-foryou {
      width: 17rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-title {
        font-size: 2rem;
        font-weight: 800;
      }
      &-desc {
        color: gray;
        font-weight: 7500;
        font-size: 1.2rem;
      }
      &-price {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1.2rem;
        box-shadow: 0px 0px 4px 1px rgba(171, 179, 187, 1);
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 800;
        i {
          color: #1700ff;
        }
      }
    }
    &-views {
      width: 33rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &--res {
          color: gray;
          font-weight: 800;
          font-size: 1.5rem;
        }
        &--tool {
          width: 11rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 2rem;
          i {
            cursor: pointer;
          }
        }
      }
      &-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        .image {
          width: 5rem;
          height: 5rem;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 5rem;
    font-weight: 900;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    margin-top: 4rem;
    .cardctn {
      max-width: calc(100% / 3 - 2.5rem);
    }
  }
}
