html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
.wrapper {
  width: 100%;
  height: 100%; }

html,
body {
  overflow-x: hidden; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: currentColor; }
  a:hover {
    color: currentColor;
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

@font-face {
  font-family: harry-heavy;
  src: url("/fonts/Harry Heavy.otf"); }

@font-face {
  font-family: nor;
  src: url("/fonts/Freight Sans Book.otf"); }

.cardctn {
  max-height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #111111;
  border-radius: 1rem;
  padding: 1rem; }

.card__avt {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 1rem;
  margin-right: 1rem; }
  .card__avt img {
    width: 100%;
    height: 100%; }

.card__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .card__detail-name {
    font-size: 1.2rem; }
  .card__detail-chat {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
    font-size: 1rem; }

.card__time {
  font-size: 1rem;
  margin-left: auto;
  color: #848484; }

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 3rem;
  background: #111111;
  color: white;
  font-family: harry;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slideMenu {
  width: 24rem;
  background: #1d1d1d;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .slideMenu__title {
    font-size: 7rem;
    font-weight: 600;
    font-family: harry-heavy;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .slideMenu__list {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 1rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .slideMenu__list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 1rem;
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;
      color: #848484;
      border-radius: 2rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .slideMenu__list-item i {
        width: 3rem; }
    .slideMenu__list .checked {
      background-color: #3e2c27;
      color: #f57f5c; }
  .slideMenu__user {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: auto;
    padding-left: 1.5rem; }
    .slideMenu__user-image {
      width: 4.5rem;
      height: 4.5rem;
      overflow: hidden;
      border-radius: 1rem;
      margin-right: 1rem; }
      .slideMenu__user-image img {
        width: 100%;
        height: 100%; }
    .slideMenu__user-detail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .slideMenu__user-detail-name {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem; }
      .slideMenu__user-detail-gmail {
        font-size: 0.8rem; }

.mainScr {
  width: 75rem;
  padding: 3rem;
  background: #1d1d1d;
  border-radius: 4rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .mainScr__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mainScr__header-title {
      font-size: 2.5rem; }
    .mainScr__header-time {
      font-size: 1.2rem;
      border: thin solid #593b3e;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      border-radius: 1.5rem; }
      .mainScr__header-time i {
        color: #f95b5c;
        margin-right: 0.5rem; }
  .mainScr__liveScr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem; }
    .mainScr__liveScr-pinScr {
      width: 100%;
      height: 40rem;
      overflow: hidden;
      border-radius: 3rem;
      margin-bottom: 2rem; }
      .mainScr__liveScr-pinScr img {
        width: 100%;
        height: 100%; }
    .mainScr__liveScr-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .mainScr__liveScr-list-item {
        width: 21rem;
        height: 21rem;
        overflow: hidden;
        border-radius: 3rem; }
        .mainScr__liveScr-list-item img {
          width: 100%;
          height: 100%; }
  .mainScr__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 3rem;
    padding: 1.5rem 0 1.5rem 0;
    background-color: #111111;
    border-radius: 2rem;
    margin-top: auto;
    margin-bottom: 3rem; }
    .mainScr__menu .btnc {
      cursor: pointer;
      border: thin solid #848484;
      color: #848484;
      width: 5rem;
      height: 5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 1rem; }
      .mainScr__menu .btnc:hover {
        color: white; }
    .mainScr__menu .checked {
      background-color: #f95b5e;
      color: white;
      border: transparent; }

.friend {
  width: 35rem;
  background-color: #1d1d1d;
  padding: 3rem;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .friend__menu {
    color: #848484;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 2rem; }
    .friend__menu-item {
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0.5rem 2rem 0.5rem 2rem; }
    .friend__menu .checked {
      border-radius: 1.2rem;
      background-color: #111111;
      color: white; }
  .friend__list .cardctn {
    margin-bottom: 2rem; }
  .friend__type {
    margin-top: auto;
    background: #111111;
    overflow: hidden;
    border-radius: 1rem; }
    .friend__type .input-group {
      height: 6rem; }
      .friend__type .input-group input {
        height: 100%;
        background: transparent;
        border: none;
        padding-left: 1.7rem;
        font-size: 1.5rem; }
        .friend__type .input-group input:focus {
          -webkit-box-shadow: none;
          box-shadow: none; }
      .friend__type .input-group-append {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 1rem; }
        .friend__type .input-group-append button {
          border: none;
          font-size: 1.5rem;
          width: 4rem;
          height: 4rem; }
          .friend__type .input-group-append button:nth-child(2) {
            background: #f5805a;
            border-radius: 1rem;
            color: white; }
