html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
.wrapper {
  width: 100%;
  height: 100%; }

html,
body {
  overflow-x: hidden; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: currentColor; }
  a:hover {
    color: currentColor;
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.cardctn {
  background: #158b75;
  border-radius: 1rem;
  padding: 2.5rem;
  max-width: 68rem;
  max-height: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.card__image {
  height: 27rem;
  width: 27rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 2rem; }
  .card__image img {
    width: 100%;
    height: 100%; }

.card__detail {
  color: white;
  max-width: 50%; }
  .card__detail-type {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem; }
    .card__detail-type i {
      margin-right: 1rem; }
  .card__detail-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .card__detail-desc {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  .card__detail-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .card__detail-rate-learner {
      margin-right: 2rem; }
  .card__detail-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: auto;
    font-size: 1.5rem; }

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0; }

.btnc {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #158b75;
  border-radius: 1rem;
  color: white; }

.navbar {
  margin: 0;
  padding: 0;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5rem; }
  .navbar__search {
    margin: 0;
    padding: 0;
    width: 34rem; }
    .navbar__search .input-group-append {
      border-radius: 1rem 0 0 1rem;
      overflow: hidden; }
    .navbar__search .input-group button {
      width: 100%;
      background: #158b75;
      color: white;
      font-size: 2rem; }
    .navbar__search .input-group input {
      border: none;
      background: #e8f4f2;
      border-radius: 0 1rem 1rem 0;
      height: 5rem;
      font-size: 1.5rem; }
      .navbar__search .input-group input:focus {
        background: #e8f4f2;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none; }
  .navbar .logo {
    font-size: 3rem;
    font-weight: 800;
    color: #158b75; }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 45rem;
    font-size: 2rem;
    font-weight: 600; }
    .navbar__menu-item i {
      margin-left: 0.5rem; }

.banner {
  margin-bottom: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .banner__text {
    max-width: 77rem; }
    .banner__text-title {
      font-size: 7rem;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 4.5rem; }
    .banner__text-desc {
      font-size: 2rem;
      font-weight: 600;
      color: #959598;
      margin-bottom: 4.5rem; }
    .banner__text .btnc {
      padding-left: 7.5rem;
      padding-right: 7.5rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      color: white;
      font-size: 2rem;
      font-weight: 800; }
  .banner__image {
    max-height: 100%;
    overflow: hidden; }
    .banner__image img {
      height: 100%; }

.courses__title {
  max-width: 50rem;
  font-size: 4rem;
  font-weight: 600;
  margin: auto;
  text-align: center;
  margin-bottom: 6rem; }

.courses__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #959598;
  cursor: pointer; }
  .courses__categories-item {
    padding-bottom: 2rem; }
    .courses__categories-item:hover {
      border-bottom: 5px solid #158b75; }
  .courses__categories .checked {
    border-bottom: 5px solid #158b75;
    color: #158b75; }

.courses__list {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
