extends layout/layout

block vars
	-title = 'Demio'
	-bodyClass = 'home-page'

block container
	header.navbar
		.container 
			a.logo demio 
				i.fab.fa-adn
			ul.navbar__menu 
				a(href="#").navbar__menu-item Why Demio?
					i.fas.fa-chevron-down
				a(href="#").navbar__menu-item Solutions
				a(href="#").navbar__menu-item Customers
				a(href="#").navbar__menu-item Pricing 
				a(href="#").navbar__menu-item Recources
					i.fas.fa-chevron-down
			.navbar__enter
				a(href="#").btnc Login
				a(href="#").btnc.btnc-rounded.btnc-cir Get started free
	section.banner
		.container
			h1.banner__title Flexible pricing plans for 
				span any business
			h3.banner__desc Select a plan below or start a 14-day free trial to see all that Demio can do for you.
			.banner__saver.btnc.btnc-rounded.btnc-cir
				.banner__saver-normal.btnc Monthly
				.banner__saver-annual.btnc.btnc-cir.btnc-filled Annual  
					span Save 30%
	section.plan
		.container
			ul.plan__list 
				li.plan__list-item
					.plan__list-item--detail 
						h3.title STARTER
						p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius ullam dignissimos quos consequuntur vitae id blanditiis autem animi voluptate.
					.plan__list-item--prices 
						.price $34/mo
						.detail Paid Annually  
					.plan__list-item--attendee 50 Attendee Room
					a(href="#").btnc.btnc-cir.plan__list-item--get Get this plan
				li.plan__list-item
					.plan__list-item--detail 
						h3.title GROWTH
						p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius ullam dignissimos quos consequuntur vitae id blanditiis autem animi voluptate.
					.plan__list-item--prices 
						.price $69/mo
						.detail Paid Annually  
					.plan__list-item--attendee 150 Attendee Room
					a(href="#").btnc.btnc-cir.plan__list-item--get Get this plan
				li.plan__list-item
					.plan__list-item--detail 
						h3.title BUSINESS
						p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius ullam dignissimos quos consequuntur vitae id blanditiis autem animi voluptate.
					.plan__list-item--prices 
						.price $163/mo
						.detail Paid Annually  
					.plan__list-item--attendee 500 Attendee Room
					a(href="#").btnc.btnc-cir.plan__list-item--get Get this plan
				li.plan__list-item
					.plan__list-item--detail 
						h3.title ENTERPRISE
						p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius ullam dignissimos quos consequuntur vitae id blanditiis autem animi voluptate.
					.plan__list-item--prices 
						.price Let's talk!
						.detail Paid Annually  
					.plan__list-item--attendee 1000+ Attendee Room
					a(href="#").btnc.btnc-cir.plan__list-item--get Contact us
