extends layout/layout

block vars
	-title = 'The Great Sea'
	-bodyClass = 'home-page'

block container
	.container
		section.login  
			.container
				a.login__logo(href="#")
					i(class="fas fa-book-open")
					p.login__logo-text The Great Sea
				.login__detail
					h1 Login
					h3 Leave your salling footprints
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolor fuga ut molestias eos ratione molestiae dignissimos nihil perspiciatis rem.
				.login__form
					form(action='#' method='method')
						.form-group.login__form-group
							label(for='email') Username
							input.form-control(type='email', name='email' placeholder='duypham05082002@gmail.com' autofocus=true)
						.form-group.login__form-group
							label(for='password') Password
							input.form-control(type='password', name='{:password}', placeholder='Password')
						.login__form-option
							.form-check.login__form-option_check
								input.form-check-input#remember(type="checkbox")
								label.form-check-label(for="remember") Remember me
							a(href="#") Forget password?
						button.btn.btn-primary(type='submit') Login
				.login__create_account
					p.login__create_account-text Don't have a account yet?
					a(href="#") Join The Great Sea 
			.overlay
			
		section.slideShow
			.container
				ul.slideShow__list 
					li.slideShow__list-item
						.slideShow__list-item-image 
							img(src="/images/sld1.jpg", alt="alt")
						.slideShow__list-item-text 
							h2 Guizhong and Zhongli
							p Lorem ipsum dolor sit amet consectetur adipisicing.
					li.slideShow__list-item
						.slideShow__list-item-image 
							img(src="/images/sld2.jpg", alt="alt")
						.slideShow__list-item-text 
							h2 Ganyu
							p Lorem ipsum dolor sit amet consectetur adipisicing.
					li.slideShow__list-item
						.slideShow__list-item-image 
							img(src="/images/sld3.jpg", alt="alt")
						.slideShow__list-item-text 
							h2 Amber
							p Lorem ipsum dolor sit amet consectetur adipisicing.
				ul.slideShow__list-navigation 
					li.dot(dot="1")
					li.dot(dot="2")
					li.dot(dot="3")
					li.dot(dot="4")
					li.panel
